@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Paytone+One&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500&display=swap');
html {
  scroll-behavior: smooth;
}

body {
	background: #352D40 !important;
}

p, h1, h2, h3, h4, h5, h6, a, div {
	color: white;
  text-align: center;
}
.paytone-font {
	font-family: 'Paytone One', sans-serif;
}
.lato-font {
	font-family: 'Lato', sans-serif;
}
.playfair-font {
	font-family: 'Playfair Display', serif;
}

#intro-main {
  margin: 2em;
  margin-bottom: 1em;
  font-size: 3.5em;
}

#intro-second {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  font-size: 2em;
}

.simp-img{
  margin-top: 0.7em;
  position: absolute;
  max-width: 80%;
  height: auto;
  text-align: center;
  left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
@media (max-width: 700px) {
  #intro-main {
    margin: 0.4em;
    margin-bottom: 1em;
    font-size: 2.9em;
  }
  #intro-second {
    margin-left: 1.8em;
    margin-right: 1.8em;
  }
}
